#Calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr repeat(5, 1fr 20fr);
}

/*tr{
  height:150px;
  width:200px;
}*/

body{
  margin-top: 25px;
}

#dates > div {
  grid-column-start: span 1;
}