/* Kelly did the styling on this */
@media screen and (min-width:401px)
{
  .logo
  {
    height:200px;
    width:200px;
    float:left;
    margin-left:50px;
  }

  .title
  {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:200px;
    height:200px;
    font-size:6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .navbar
  {
    margin-top:15px;
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    gap:20px;
    padding:5px;
    font-size:1.5rem;
    background-color: black;
  }

  .navbar a
  {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
  }

  .footer
  {
    padding:20px;
    display:flex;
    justify-content: center;
  }
}

@media screen and (max-width:400px)
{
  .logo
  {
    height:100px;
    width:100px;
    float:left;
    margin-left:10px;
  }

  .title
  {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:100px;
    height:100px;
    font-size:1.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .navbar
  {
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    gap:20px;
    padding:5px;
    font-size:1rem;
    background-color: black;
  }
  .navbar a
  {
    float: left;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
  }

  .footer
  {
    padding:20px;
    display:flex;
    justify-content: center;
  }
}

body{
  background-color:#A9BCD0;
}
