table
{
  text-align:left;
  width:100%;
  margin:50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
tr{
  height:150px;
  width:200px;
}
table, th, tr{
    padding: 3px;
    border: 2px solid;
    border-color: black;
    border-collapse: collapse;
    margin: 10px;
}
#calendar > th
{
  font-weight: bold;
  text-align:center;
}

body{
  margin-top: 25px;
  background-color:#A9BCD0;
}
