#majors
{
  position:absolute;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px;
}

#majors > div
{
  padding:9px;
  margin-top:10px;
  margin-bottom:10px;
}

h2
{
  display:flex;
  justify-content: center;
}

div > *
{
  text-align:center;
}

body{
  background-color:#A9BCD0;
}