body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  
}

#logo {
  width: 100px;
  height: 100px;
  grid-column-start: span 1;
}

h1 {
  grid-column-end: span 4;
  font-size: 1000%;
}
