table
{
  text-align:left;
  width:100%;
  margin:50px;
}

tr{
  height:150px;
  width:200px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#week > th
{
  font-weight: bold;
  text-align:center;
}