#majors {
  position: absolute;
  display: grid;
  padding: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px;
}

#logo {
  height: 250px;
  width: 250px;
}

#header {
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 8rem;
}

#nav-bar {
  grid-template-columns: span 3;;
}